[unit]
Description=Gunicorn instance to serve AirBnB clone
After=network.target

[service]
User=ubuntu
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4
ExceStart=gunicorn --workers 3 --bind 0.0.0.0:5003 web_dynamic.2-hbnb:app --error-logfile /tmp/airbnb-error.log
Restart=always
StandardOutput=append:/tmp/airbnb-acces.log
StandardError=append:/tmp/airbnb-error.log
Syslogidentifier=gunicorn

[install]
WantedBy=multi-user.target
